* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
#main {
  height: 90vh;
  display: flex;
  /* background-color: red; */
}
#sidebar {
  height: 90vh;
  flex: 2;
  background-color: #000;
}
#mainbar {
  height: 90vh;
  flex: 9;
  width: 80vw;
  background: linear-gradient(
    180deg,
    #222 0%,
    #1f1f1f 11.64%,
    #171717 25.66%,
    #161616 32.94%,
    #151515 35.98%,
    #131313 44.89%,
    #121212 55.22%,
    #121212 75.34%,
    #121212 85.45%,
    rgba(18, 18, 18, 0) 100%
  );
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#player {
  position: fixed;
  bottom: 0px;
  height: 10vh;
  width: 100vw;
  display: flex;
  background-color: #181818;
}
.lists {
  display: flex;
  flex-wrap: wrap;
}
#heart > img {
  display: inline-block;
  width: 29px;
  height: 29px;
  color: #ffffff;
}
#heart {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 4px 0px 0px 4px;
  background: linear-gradient(
    135deg,
    #4000f4 0%,
    #603aed 22.48%,
    #7c6ee6 46.93%,
    #979fe1 65.71%,
    #a2b3de 77.68%,
    #adc8dc 88.93%,
    #c0ecd7 100%
  );
}
.card1 {
  display: flex;
  width: 362px;
  height: 100px;
  align-items: center;
  border-radius: 4px;
  background: #303030;
  color: #fff;
  font-family: DM Sans;
  font-size: 20px;

  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}
